.body {
    background-image: url("../images/body.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.center {
   margin-left: 45%;
   margin-top: 250px;
}
.snd {
    width: 44.7%;
}
.top {
    margin-top: 10px;
}
