.body {
    background-image: url("../images/body.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
input {
    width: 250px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}
.center {
  margin-left: 40%;
  margin-top:  10%;
}

.text {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.margin {
    margin-bottom: 25px;
}
